{% extends 'base.html' %}

{% block title %}Жанры :: {{ block.super}}{% endblock %}
{% block sidebar %}{% include 'inc/_sidebar.html' %}{% endblock %}


{% block content %}

{% load news_tags %}

<h1>Жанры</h1>
Всего: {{ cnt.count }}
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Жанр</th>
      <th scope="col">Книг</th>
    </tr>
  </thead>
  <tbody>
  {% get_list_categories as categories %}
  {% for item in categories %}
    <tr>
      <td><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></td>
      <td>{{ item.cnt }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}